@media(max-width: 1700px) {
  .services__img {
    height: 166px;
  }

  .services__number-icon {
    width: 200px;
    height: 124px;
  }

  .services__box {
    height: 268px;
  }

  .services__item-price {
    margin-bottom: 50px;
  }
}

@media(max-width: 1600px) {
  .header__btn {
    margin-left: 30px;
  }

  .screen {
    height: 720px;
  }

  .screen__title {
    padding-top: 170px;
  }
}

@media(max-width: 1500px) {
  .header__wrapper {
    display: flex;
    justify-content: space-between;
  }

  .screen__title {
    font-size: 100px;
    line-height: 95px;

    span {
      font-size: 70px;
    }
  }

  .menu__btn {
    display: block;
    position: relative;
  }

  .menu {
    display: none;

    &.active {
      position: fixed;
      top: 0px;
      right: 0;
      width: 100%;
      bottom: 0;
      background: rgba(54, 54, 54, 0.98);
      display: flex;
    }
  }

  .menu__inner {
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: center;
  }

  .menu__item-list {
    display: block;
    margin-bottom: 50px;
    text-align: center;
    max-width: 100%;

    &+.menu__item-list {
      margin-left: 0;
    }
  }

  .menu__social {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
  }

  .mob__social {
    display: block;
    width: 400px;
    display: flex;
    justify-content: space-between;

  }

  .services__box {
    height: 216px;
  }

  .services__right-inner {
    padding: 24px 0 24px 120px;
  }

  .services__left-inner {
    padding: 24px 120px 24px 0px;
  }
}

@media(max-width: 1400px) {
  .title {
    font-size: 36px;
    line-height: 44px;
  }

  .screen__body {
    width: 50%;
  }

  .screen__img {
    flex: 0 0 50%;
  }

  .screen__title {
    font-size: 80px;
    line-height: 70px;
    margin-bottom: 40px;

    span {
      font-size: 60px;
    }
  }

  .screen {
    height: 650px;
  }

  .screen__text {
    font-size: 20px;
    line-height: 24px;
  }

  .services__number-icon {
    display: none;
  }
}

@media(max-width: 1200px) {
  .title {
    font-size: 32px;
    line-height: 40px;
  }

  .container {
    padding: 0 100px;
  }

  .global__btn {
    font-size: 14px;
    line-height: 19px;
    padding: 10px 20px;
  }

  .global__btn-phone {
    font-size: 14px;
    line-height: 19px;
  }

  .global__border-box {
    font-size: 14px;
    line-height: 19px;
    padding: 10px 20px 10px 50px;

    &::before {
      top: 10px;
      left: 15px;
    }
  }

  .services__right-item--info {
    clip-path: polygon(7% 0%, 100% 0%, 100% 100%, 0% 100%);
  }

  .services__left-item--info {
    clip-path: polygon(0% 0%, 100% 0%, 93% 100%, 0% 100%);
  }


  .services__box {
    height: 186px;
    margin-bottom: 40px;
  }

  .services__item-price {
    margin-bottom: 30px;
  }
}

@media(max-width: 1100px) {
  .text {
    font-size: 16px;
    line-height: 19px;
  }

  .screen {
    height: 500px;
  }

  .screen__title {
    padding-top: 122px;
    font-size: 64px;
    line-height: 70px;

    span {
      font-size: 45px;
    }
  }

  .screen__text {
    margin-bottom: 30px;
  }

  .services__item--title {
    font-size: 20px;
    line-height: 24px;
  }

  .services__img {
    width: 207px;
    height: 106px;
  }

  .services__right-inner {
    padding: 24px 0 24px 80px;
  }

  .services__left-inner {
    padding: 24px 80px 24px 0px;
  }

  .services__btn-phone {
    margin-left: 30px;
  }

  .advantages__item {
    font-size: 16px;
    line-height: 20px;
  }
  .request__box{
    padding: 50px;
  }
  .request__title{
    font-size: 24px;
    line-height: 30px;
  }
  .request__wrapper{
    margin-bottom: 0;
  }
}

@media(max-width: 950px) {
  .container {
    padding: 0 70px;
  }

  .screen {
    height: 440px;
  }

  .screen__body {
    width: 50%;
  }

  .screen__img {
    flex: 0 0 50% !important;
  }

  .screen__title {
    padding-top: 122px;
    font-size: 55px;
    line-height: 50px;

    span {
      font-size: 38px;
    }
  }

  .global__btn {
    font-size: 14px;
    line-height: 17px;
    padding: 10px 20px;
  }

  .global__border-box {
    padding: 10px 20px 10px 45px;

    &:before {
      top: 9px;
      left: 15px;
    }
  }

  .screen__img {
    flex: 0 0 45%;
  }

  .mob__social {
    width: 360px;
  }
}

@media(max-width: 850px) {
  .services__box {
    height: 240px;
  }

  .services__right-box {
    &::before {
      background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.51) 25%, rgba(255, 255, 255, 0) 100%);
      background-color: $blue;
      margin-left: -100%;
    }
  }

  .services__left-box {
    &::before {
      background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.51) 25%, rgba(255, 255, 255, 0) 100%);
      background-color: $green;
      margin-left: 100%;
    }

    .services__inner-btn {
      justify-content: flex-end;
    }
  }

  .services__right-box--white {
    &::before {
      background-color: $text;
      margin-left: -100%;
    }
  }

  .services__right-inner {
    padding-left: 0;
  }

  .services__left-inner {
    padding-right: 0;
    text-align: right;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
  }

  .services__right-item--info {
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  }

  .services__left-item--info {
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  }

  .services__inner-btn {
    flex-wrap: wrap;
    max-width: 200px;
    display: flex;
    justify-content: flex-start;
    width: 100%;
  }

  .services__btn-phone {
    margin-left: 0px;
    margin-top: 20px;
  }

  .services__img {
    width: 340px;
    height: 175px;
  }

  .services__box {
    // align-items: flex-end;
    position: relative;
  }

  .services__right-item--info {
    .services__box-images {
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }

  .services__left-item--info {
    .services__box-images {
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }
  .request__box{
    padding: 30px 20px 30px 20px;
  }
  .request__wrapper{
    flex-wrap: wrap;
    justify-content: center;
  }
  .request__inner{
    justify-content: center;
    margin-right: 0;
  }
}

@media(max-width: 750px) {
  .title {
    font-size: 24px;
    line-height: 30px;
  }

  .section {
    padding: 30px 0;
  }

  .screen {
    height: 70vh;
  }

  .screen__title,
  .screen__text {
    color: $black;
    text-align: center;
  }

  .screen__btn {
    margin: 0 auto;
    display: block;
    width: fit-content;
  }

  .screen__body {
    width: 100%;
  }

  .screen__content {
    flex: 0 0 100% !important;
  }

  .screen__img {
    flex: 0 0 100% !important;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);

    img {
      object-fit: cover;
      object-position: left;
    }
  }

  .services__item--title {
    font-size: 18px;
    line-height: 22px;
  }

  .services__text {
    margin-bottom: 30px;
  }

  .advantages__inner {
    flex-wrap: wrap;
  }

  .advantages__item {
    margin-bottom: 30px;
    width: 270px;
  }

  .slider__box {
    overflow-y: auto;
  }
}

@media(max-width: 700px) {
  .services__img {
    width: 240px;
    height: 124px;
  }

  .services__box-images {
    bottom: 40px !important;
  }

  .slider__item {
    padding: 30px 70px;
  }
}

@media(max-width: 600px) {
  .container {
    padding: 0 30px;
  }

  .mob__social {
    width: fit-content !important;

    .social {
      display: none;
    }
  }

  .menu__item {
    width: 100%;
  }

  .menu__social {
    flex-wrap: wrap;
    width: 300px;
  }

  .social {
    margin-bottom: 30px;
  }

  .header__btn {
    margin-left: 0;
  }

  .slick-next {
    display: none;
  }

  .slick-prev {
    display: none;
  }
}

@media(max-width: 550px) {
  .container {
    padding: 0 15px;
  }

  .services__box-images {
    bottom: 10px !important;
  }

  .services__img {
    width: 207px;
    height: 106px;
  }

  .questions__item {
    margin-bottom: 20px;
  }
}

@media(max-width: 450px) {
  .screen__title {
    font-size: 46px;
    line-height: 48px;
    margin-bottom: 20px;

    span {
      font-size: 35px;
    }
  }

  .services__wrapper {
    .container {
      padding: 0;
    }
  }

  .services__right-inner {
    padding-left: 15px;
  }

  .services__left-inner {
    padding-right: 15px;
  }

  .services__right-item--info .services__box-images {
    right: -120px;
  }

  .services__left-item--info .services__box-images {
    left: -120px;
  }

  .services__img {
    width: 290px;
    height: 150px;
  }

  .slider__item {
    padding: 15px 10px 15px 15px;
    border-radius: 5px;
    clip-path: polygon(00% 0%, 100% 0%, 100% 100%, 0% 100%);

  }
  .slider__box{
    padding-right: 15px;
    height: 150px;
  }
}

@media(max-width: 400px) {
  .title {
    font-size: 20px;
    line-height: 24px;
  }

  .text {
    font-size: 14px;
    line-height: 17px;
  }

  .screen__title {
    font-size: 40px;
    line-height: 43px;

    span {
      font-size: 30px;
    }



  }

  .questions__item-top {
    font-size: 18px;
    line-height: 22px;
  }
}

@media(max-width: 380px) {
  .services__img {
    display: none;
  }

  .services__wrapper {
    .container {
      padding: 0 15px;
    }
  }

  .services__right-inner,
  .services__left-inner {
    padding: 16px 0 16px 0;
    text-align: center;
    width: 100%;
  }

  .services__item--title {
    width: 240px;
    margin: 0 auto;
    margin-bottom: 10px;
  }

  .services__inner-btn {
    justify-content: center;
    max-width: 100%;
    width: 100%;
  }

  .services__left-box .services__inner-btn {
    justify-content: center;
  }

  .services__btn-phone {
    margin-left: 30px;
    margin-right: 30px;
  }
}